body{
    background-color: white;
  
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}


.fa:hover {
    opacity: 0.7;
}



.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}
.navbar-custom {
    color: yellow;
    background-color: blue;
}
#welcome{
    color: white;
}
#dp{
    color: white;
}
.white{
    background-color:white;
}
.clp{
    background-color: #ECE2EC;
}
table tr td{
        font-size:18px;
		font-family: Arial;
}
.tt{
	background-color:rgb(202, 243, 200);
}
.sty{
	background-color: grey;
}
.lol{
	background-color: lightgoldenrodyellow;
	text-shadow: 0.5px 0.5px red;
}
.oh{
	background-color: rgba(255, 192, 206, 0.075);
	text-align: justify;
	line-height: 1.6;
	font-style: oblique;
	
}
.tra{
    background-color: rgba(255, 162, 0, 0.445);
}
.rp{
    background-color: whitesmoke;
}